@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-container {
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header-text-area {
    width: 500px;
    height: auto;

}

.header-text-area h1 {
    font-size: 50px;
}

.header-text-area p {
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    margin: 20px 0 10px 0;
}

.header-text-area a {
    padding: 7px 15px;
    background-color: #E55473;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 7px;
}

.img-container img {
    width: 450px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 50px;
}


/* features-container css */

.features-container {
    width: 100%;
    height: 900px;
}
.features-text-area{
    position: relative;
    width: 600px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;

}
.features-image-area{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: auto;
}
.image-container p{
    text-align: center;
    margin-top: 20px;
}
.images{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0;
}

.images2{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0 0;
}
.images3{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0 0;
}
.images .img-1{
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    width: 230px;
    height: 320px;
}
.images2 .img-2{
    position: absolute;
    bottom: 30px;
    margin-left: 25px;
    width: 250px;
    height: 280px;
}
.images3 .img-3{
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    width: 230px;
    height: 320px;
}
.features-footer{
    position: relative;
    width: 1040px;
    height: 180px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 50px;
    background: rgba(39, 39, 39, 0.05);
}
.features-footer-img img{
    width: 50px;
    height: auto;
}
.features-footer-img p{
    font-size: 10px;
    text-align: center;
}
/* features-container-css-end */
.hot-deal-container{
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.hot-deal-text-area{
    width: 500px;
    height: auto;text-align: center;

}
.hot-deal-text-area p{
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    margin: 20px 0 10px 0;
}
.hot-deal-text-area a{
    padding: 7px 15px;
    background-color: #E55473;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 7px;
}
.hot-deal-img img{
    width: 200px;
    height: auto;
}